[general]
verbosity=2
ignore-merge-commits=true
ignore-revert-commits=true
ignore-squash-commits=true
ignore-fixup-commits=true
ignore-stdin=true
ignore=body-is-missing

{{#title}}
[title-max-length]
line-length={{max_length}}
[title-min-length]
min-length={{min_length}}

[title-must-not-contain-word]
words={{forbidden}}

[title-match-regex]
regex={{regex}}

[ignore-by-title]
regex={{ignore}}
{{/title}}

{{#body}}
[body-max-line-length]
line-length={{max_length}}
[body-min-length]
min-length={{min_length}}
{{/body}}

{{#author}}
[author-valid-email]
regex={{email}}
{{/author}}
